body
{
    margin: 0;
    font-family: Arial;
    font-size: 10px;
}

.endpoint
{
    font-size: 12pt;
    font-weight: bold;
    color: #6666FF;
    margin: 10px;
}

.oddentity
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #FFE1CE;
}

.evenentity
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #FFFFFF;
}

.verticalSpacer
{
    clear: both; 
    padding-bottom: 10px;
}

.detail
{
    margin: 10px 10px 10px 10px;
}

.logsinks
{
    float: left;
    margin: 1px 0px 0px 10px;
    padding: 5px 5px 5px 5px; 
    background-color: #F7F7F7;
    font-weight: bold;
}

.metricKey
{
    float: left;
    padding: 5px 5px 5px 5px; 
    background-color: #F7F7F7;
    border-left: solid 5px #0099CC; 
    color: #0099CC;
    font-weight: bold;
}

.connectionKey
{
    float: left;
    padding: 5px 5px 5px 5px; 
    background-color: #F7F7F7;
    border-left: 5px solid #009933;
    color: #009933;
    font-weight: bold;
}

.transactionKey
{
    float: left;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #FF9595;
    color: #FF9595;
    font-weight: bold;
}

.flushKey
{
    float: left;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #993333;
    color: #993333;
    font-weight: bold;
}

.loadKey
{
    float: left;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #9900CC;
    color: #9900CC;
    font-weight: bold;
}

.metric
{
    margin: 1px 10px 0px 10px;
    padding: 5px 5px 5px 5px; 
    background-color: #F7F7F7;
    border-left: solid 5px #0099CC; 
    color: #0099CC;
    font-weight: bold;
}

.connection
{
    margin: 1px 10px 0px 10px;
    padding: 5px 5px 5px 5px; 
    background-color: #F7F7F7;
    border-left: 5px solid #009933;
    color: #009933;
    font-weight: bold;
}

.transaction
{
    margin: 1px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #FF9595;
    color: #FF9595;
    font-weight: bold;
}

.flush
{
    margin: 1px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #993333;
    color: #993333;
    font-weight: bold;
}

.load
{
    margin: 1px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    background-color: #F7F7F7;
    border-left: solid 5px #9900CC;
    color: #9900CC;
    font-weight: bold;
}

.factory
{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F0F0F0;
    color: #0099FF;
}

.entityheader
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #F0F0F0; 
}

.entitylink
{
    font-size: 12px;
    text-decoration: none;
    color: #666666;
}

.entitylink:hover
{
    text-decoration: none;
    color: #0099FF;
}

.stackFrame
{
    margin: 3px 10px 3px 10px;
    background-color: #FFFFFF;
    font-family: Consolas;
    font-size: 12px;
}

.altStackFrame
{
    margin: 3px 10px 3px 10px;
    background-color: #FFFF99;
    font-family: Consolas;
    font-size: 12px;
}